In [1]:
import mysql.connector

CREAMOS LA FUNCION PARA AUTOMATIZAR

In [11]:

def crear_tabla(password,query):
    cnx = mysql.connector.connect(user='root', password = password,
                              auth_plugin='mysql_native_password',
                              host='127.0.0.1',
                              database = 'ADALAB_pro')
    sql = cnx.cursor()
   
    try:
        sql.execute(query)
        print(sql)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    
    cnx.close()

In [12]:
query_xml = """CREATE TABLE IF NOT EXISTS `tabla_xml` 
		(`index_xml` INT AUTO_INCREMENT NOT NULL,
		`time` VARCHAR(45) NOT NULL,
		`age` VARCHAR(45) NOT NULL,
		`gender` VARCHAR(45) NOT NULL,
		`index_sql` INT NOT NULL,
		PRIMARY KEY(`index_xml`),
		CONSTRAINT `fk-tablasql-tablaxml`
			FOREIGN KEY (`index_sql`)
			REFERENCES `tabla_sql`(`index_sql`)
			ON UPDATE CASCADE
        );"""

In [13]:
query_sql = """CREATE TABLE `tabla_sql`
	(`index_sql` INT NOT NULL AUTO_INCREMENT,
    `q10_part_1`VARCHAR(100),
    `q10_part2`VARCHAR(100),
    `q10_part3`VARCHAR(100),
    `q10_part4`VARCHAR(100),
    `q10_part5`VARCHAR(100),
    `q10_part6`VARCHAR(100),
    `q10_part7`VARCHAR(100),
    `q10_part8`VARCHAR(100),
    `q10_part9`VARCHAR(100),
    `q10_part10`VARCHAR(100),
    `q10_part11`VARCHAR(100),
    `q10_part12`VARCHAR(100),
    `q10_part13`VARCHAR(100),
    `q10_part14`VARCHAR(100),
    `q10_part15`VARCHAR(100),
    `q10_part16`VARCHAR(100),
    `d482xta`VARCHAR(100),
    PRIMARY KEY (`index_sql`)
    );"""

In [14]:
query_txt = """CREATE TABLE `tabla_txt`
		(`index_txt` INT AUTO_INCREMENT NOT NULL,
        `index_sql` INT NOT NULL,
        `q3` VARCHAR(45),
        `q4` VARCHAR(100),
        `q5` VARCHAR(100),
        `q6` VARCHAR(45),
        `q7`VARCHAR(100),
        `q8` VARCHAR(45),
        `q9` TEXT(1000),
        `q11` TEXT(1000),
        `q12` TEXT(1000),
        `q13` TEXT(1000),
        `q14` TEXT(1000),
        `q15` TEXT(1000),
        `q16`TEXT(1000),
        `q17` TEXT(1000),
        `q20` TEXT(1000),
        `q21` TEXT(1000),
		`q22` TEXT(1000),
		`q23` TEXT(1000),
        `q24` TEXT(1000),
		`q25` TEXT(1000),
		`q26` TEXT(1000),
		`q32` TEXT(1000),
		`q33` TEXT(1000),
        `q34` TEXT(1000),
		`q35` TEXT(1000),
		`q41` TEXT(1000),
		PRIMARY KEY(`index_txt`),
          CONSTRAINT `fk-tablasql-tablatxt`
		FOREIGN KEY (`index_sql`)
		REFERENCES `tabla_sql`(`index_sql`)
        ON UPDATE CASCADE
        );"""

In [15]:
crear_tabla('AlumnaAdalab',query_xml)

CMySQLCursor: CREATE TABLE IF NOT EXISTS `tabla_xml`
..

In [16]:
crear_tabla('AlumnaAdalab',query_sql)

1050 (42S01): Table 'tabla_sql' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'tabla_sql' already exists

In [17]:
crear_tabla('AlumnaAdalab',query_txt)

1050 (42S01): Table 'tabla_txt' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'tabla_txt' already exists

In [14]:
def tuplas(archivo):
    
    lista_tupla = []
        
    for linea in archivo:

        lista_tupla.append(tuple(linea.split(";")))
        
    return lista_tupla

In [15]:
def insercion_datos(password, query, val):
    
        cnx = mysql.connector.connect(user='root', password= password,
                                    host='127.0.0.1', database='ADALAB_pro')
        sql = cnx.cursor() 
        
        try:
            sql.executemany(query, val)
            cnx.commit()
            print(sql.rowcount, "registro insertado.")
            
        except mysql.connector.Error as err:
            
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

In [16]:
val = tuplas('data_txt.txt')

In [17]:
query = "INSERT INTO `tabla_txt` (`index_sql`,`q10_part_1`,`q10_part2`,`q10_part3`,`q10_part4`,`q10_part5`,`q10_part6`,`q10_part7`,`q10_part8`,`q10_part9`,`q10_part10`,`q10_part11`,`q10_part12`,`q10_part13`,`q10_part14`,`q10_part15`,`q10_part16`, `d482xta`)VALUES (%s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s)"

In [18]:
insercion_datos("AlumnaAdalab")

Not enough parameters for the SQL statement
Error Code: -1
SQLSTATE None
Message Not enough parameters for the SQL statement

In [3]:
def tupla_xml(archivo):

    lista_tupla = []
        
    for linea in archivo:
        lista_tupla.append(tuple(linea.split(";")))
                
        return lista_tupla

In [3]:
def insercion_xml (archivo, query_xml, val):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                    host='127.0.0.1', database='ADALAB_pro')
    sql = cnx.cursor()
        
    try:
        sql.executemany(query_xml, val)
        cnx.commit()
        print(sql.rowcount, "registro insertado.")
            
    except mysql.connector.Error as err:
            
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [4]:
query_xml = "INSERT INTO tabla_xml(index_xml,time,age,gender,index_sql)VALUES (%s, %s, %s, %s, %s)" 
val = tupla_xml("datos.xml")

In [5]:
insercion_xml("datos.xml", query_xml, val)

Not enough parameters for the SQL statement
Error Code: -1
SQLSTATE None
Message Not enough parameters for the SQL statement

In [6]:
print (val)

[('d',), ('a',), ('t',), ('o',), ('s',), ('.',), ('x',), ('m',), ('l',)]